<div class="confirmation__title">
	<span>{{ title }}</span>
	<h1>{{ title }}</h1>
</div>
<p class="confirmation__text">
	{{ text }}
</p>
<a class="confirmation__link" href="{{ href }}">{{ link }}</a>
